app-band .band{
  max-width: 540px;
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  color: black;
  margin-bottom: 1rem;
  box-sizing: border-box;
  .band-section{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .image-section{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    background-color: #E0E0E0;
  }
  .band-info{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin: 0 auto;
  }
  .button{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: inline-block;
    font-weight: 400;
    color:white;
    background-color: tomato;
    border-color: tomato;
    a{
      color: white;
      font-size: 1rem;
    }
  }

}