// .messages {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 300px;
//   border: solid 1px #eee;
//   padding: 10px;
// }

// .messages p {
//   color: red;
// }

.speech {
  position: relative;
  font-family: arial;
  font-size: 1.1em;
  background: #a53d38;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
}
