body{
    background-color: $background;
    color: $fontColor;
    margin: 50px;
    font-size: 3rem;
    font-family: $fontFamily;
}

button:hover, a:hover {
    opacity: 0.7;
}

h1{
    font-family: $fontFamily;
    font-size: 2rem;
    text-align: center;
}

span{
    color: fontColor;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: $linkColor;
  }

.wrap{
    margin: 5%;
}

.card{
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
}
.card p{
    color: $paragraph;
}

.band{
    margin: 0 auto;
    text-align: center;
}

.description{
    color: $fontColor;
}

.myHr{
    max-width: 50%;
    color: $gris;
    border: 1px solid;
    height:2px;
    background-color:$gris;
}