$background: #15202A;
$fontColor: #FFFFFF;
$fontFamily: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
$linkColor:   rgb(27, 149, 224);
$paragraph: rgb(136, 153, 166);
$alert: #B03648;
$gris: #A9A9A9;