app-events{
    .card{
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        color: black;
        padding: 14px;
        margin-bottom: 20px;
        margin-top: 26%;
        margin: 5%;
       }
       .button-event{
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        display: inline-block;
        font-weight: 400;
        color:black;
        background-color: tomato;
        border-color: tomato;
        width: 100%;
        a{
          color: black;
          font-size: 1rem;
        }
      }
}