@import '../../sass/notifications';
@import '../../sass/login';
@import '../../sass/variables';
@import '../../sass/userLogin';
@import '../../sass/index';

body {
  margin: 0;
  padding: 0;
  font: 14px sans-serif;
}
