@import "../../sass/notifications";
@import "../../sass/login";
@import "../../sass/variables";
@import "../../sass/userLogin";
@import "../../sass/index";
@import "../../sass/allBands";
@import "../../sass/bandProfile";
@import "../../sass/wordsCarrousel";
@import "../../sass/search";
@import "../../sass/404";
@import "../../sass/home";
@import "../../sass/allEvents";
@import "../../sass/noBand";
@import "../../sass/userProfile";
@import "../../sass/event_detail";


body {
  margin: 0;
  padding: 0;
  font: 14px sans-serif;
}
