<option value="Guitarra">Guitarra</option>
<option value="Voz">Voz</option>
<option value="Bajo">Bajo</option>
<option value="Bateria">Bateria</option>
<option value="Saxo">Saxo</option>
<option value="Violin">Violin</option>
<option value="Teclado">Teclado</option>