<div id="map"></div>
<script>
  function initMap() {
    var lat = event.lat;
    var lng = event.lng;
    var center = { lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: center,
      scrollwheel: false
    });
    var contentString = `
        <strong><%= event.name %><br />
        <%= event.location %></strong>
        <p><%= campground.description %></p>
      `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position: center,
      map: map
    });
    marker.addListener('click', function () {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi9ges1EKuaHPXXffNTJ4dAsQH3GYygEo&callback=initMap"></script>