<option value="Blues">Blues</option>
<option value="Dance">Dance</option>
<option value="Folk">Folk</option>
<option value="Garage">Garage</option>
<option value="Funk">Funk</option>
<option value="Hip hop">Hip hop</option>
<option value="Jazz">Jazz</option>
<option value="Metal">Metal</option>
<option value="Pop">Pop</option>
<option value="Punk">Punk</option>
<option value="Reggae">Reggae</option>
<option value="Soul">Soul</option>
<option value="Urban">Urban</option>