<div class="words-carrousel">
  <p>Join us to find musicians</p>
  <b>
    <div class="sentences">
      around you<br />
      to try other styles<br />
      to gig with them<br />
      who play your style<br />
      to join a Band!
    </div>
  </b>
</div>