{{> menu}}
<h1>Crear Evento</h1>
<form class="box" action="/events/{{bandId}}/add" method="POST">
  <input type="text" name="name" id="name" placeholder="Nombre del evento">
  <input id="today" type="date" name="date">
  <input type="text" name="location" id="location" placeholder="Localización">
  <input type="submit" value="Crear Evento" />
</form>
{{> backButton}}
<script>document.querySelector("#today").valueAsDate = new Date();
</script>