<h1>Crear Evento</h1>
<form action="/events/{{bandId}}/add" method="POST">
   <input type="text" name="name" id="name" placeholder="Nombre del evento">
   <input type="date" name="date">
   <select name="location">
      <option value="Barcelona">Barcelona</option>
      <option value="Madrid">Madrid</option>
   </select>
   <input type="submit" value="Crear Evento" />
</form>