{{#if ifBandMember}}
<h1>Chat de la banda: </h1>
<p id="band">{{band.bandname}}</p>
<p>Current user:</p>
<p id="username">{{currentUser}}</p>
<div id="messages">
</div>
<p id="typingu"></p>
<form>
  <input id="text" autocomplete="off" /><button>Enviar mensaje</button>
  <script src="/javascripts/chat.js" charset="utf-8"></script>
</form>
{{else}}
<p>Solo los miembros de la banda pueden acceder al chat!</p>
{{/if}}
{{> backButton}}