<app-search>
  <div class="container">
    <app-search>
      <div class="content">
        <label>Buscar</label>
        <input type="search" placeholder="Search ...">
      </div>
    </app-search>
  </div>
</app-search>

<div>
</div>