<h1>Hello! {{currentUser.nickname}}</h1>
<a href="/profile/{{currentUser._id}}">Ver Perfil</a>
<a href="/bandas/{{currentUser._id}}">Crear Banda</a>
<a href="/bandas/all">Ver todas las Bandas</a>
<p><a href="/logout">Cerrar Sesión</a></p>