<div class="container">
  <app-index>
    <div class="content">
      <img class="logo" src="/images/logo.png" alt="logo">
      <h1>Search for help to share your musical talent to the world!</h1>
      <h3>Sign up for <strong>Adopta un Músico</strong> today.</h3>
      <a class="button" href="/signup">Sign Up</a>
      <a class="button" href="/login">Login</a>
    </div>
  </app-index>
</div>