<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <script src="/javascripts/global.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
  <div class="notifications">
    {{#if infoMessages}}
    <p class="info">{{infoMessages}}</p>
    <button type="button" class="close">X</button>
    {{/if}}
    {{#if errorMessages }}
    <p class="error">{{errorMessages}}</p>
     <button type="button" class="close">X</button>
    {{/if}}
  </div>
  {{{body}}}
  <script>
    $(document).ready(function () {
    $('.close').click(function () {
       $('.notifications').css({'visibility': 'hidden'});
    })
  });
  </script>
</body>

</html>