<h1>User Profile</h1>
<p>Nombre: {{ user.email }}</p>
<p>Created At: {{ user.created_at }}</p>
 {{#if_equal currentUser._id  user._id }}
    <a href="/profile/update/{{user._id}}">Actualizar datos</a>
{{/if_equal}}