{{> menu}}
<h1>Enviar mensaje:</h1>
<form class="box" action="/messages/send/{{userSender}}/{{currentUser.nickname}}" method="post">
  <textarea name="messageSend" rows="10" cols="30" placeholder="Envia un mensaje!"></textarea>
  <input type="submit" value="Enviar">
</form>
{{> backButton}}