{{> menu}}
<h1>Enviar mensaje:</h1>
<form action="/messages/send/{{receiver}}/{{currentUser._id}}" method="post">
  <input type="text" name="messageSend" placeholder="Mensaje a enviar">
  <input type="submit" value="Enviar">
</form>
{{> backButton}}