{{#if error }}
{{ error }}
{{/if }}
<form class="box" id="form" action="/newUser" method="POST">
  <h1>Create your account!</h1>
  <input type="email" name="email" placeholder="E-mail" />
  <input type="text" name="nickname" placeholder="nickname" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Create Account" />
</form>
{{> backButton}}