<form id="form" action="/newUser" method="POST">
  <label for="email">Email</label><br>
  <input type="email" name="email" placeholder="Your email">
  <br>
  <br>

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="********">
  <br>
  <br>
  <button type="submit">Create account</button>
  {{#if error }}
  {{ error }}
  {{/if }}
</form>