.notifications {
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.error {
  padding: 0.75rem 1.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.info {
  padding: 0.75rem 1.25rem;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

body {
  background: #34495e;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.box input[type=email],
.box input[type=text],
.box input[type=password] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type=email]:focus,
.box input[type=text]:focus,
.box input[type=password]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.box input[type=submit] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type=submit]:hover {
  background: #2ecc71;
}

body {
  background-color: #15202A;
  color: #FFFFFF;
  margin: 50px;
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

button:hover, a:hover {
  opacity: 0.7;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 2rem;
  text-align: center;
}

span {
  color: fontColor;
}

img {
  width: 15%;
}

a {
  text-decoration: none;
  font-size: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  color: #1b95e0;
}

.wrap {
  margin: 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.card {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  color: #8899a6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.band {
  margin: 0 auto;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  color: #FFFFFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.myHr {
  max-width: 50%;
  color: #A9A9A9;
  border: 1px solid;
  height: 2px;
  background-color: #A9A9A9;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  margin: 5px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.container {
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

app-index .content {
  width: 100%;
  margin-top: 20px;
}
app-index h3 {
  margin-top: 50px;
  text-align: center;
}
app-index .logo {
  width: 20%;
  margin-left: 5%;
}
app-index .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 90%;
  margin: 5px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  border-radius: 24px;
}

app-band .band {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
app-band .band img {
  width: 100%;
}
app-band .band button {
  width: 100%;
}

app-profile .danger a {
  color: #dc3545;
}
app-profile button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 90%;
  margin: 5px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  border-radius: 24px;
}

.words-carrousel {
  font: normal 35px/50px Montserrat, sans-serif;
  color: #999;
  margin-left: 0.3em;
}

.words-carrousel p {
  height: 50px;
}

.words-carrousel b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}

.words-carrousel .sentences {
  display: inline-block;
  color: #34495e;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  /*animation*/
  animation: move 8s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
app-search nav {
  width: 100%;
  height: 60px;
  font-family: sans-serif;
  background: #7d3c98;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  color: #fff;
}
app-search .cont {
  height: 100%;
  padding-top: 0px;
  float: right;
}
app-search .cont label {
  font-size: 12.9px;
}
app-search input[type=search] {
  width: 170px;
  margin: 10px;
  padding: 10px 16px;
  border-radius: 32px;
  outline: none;
  border: 2px solid #8e44ad;
  transition: all 0.5s;
}
app-search input[type=search]:focus {
  background: #fff;
  width: 300px;
}

body {
  margin: 0;
  padding: 0;
  font: 14px sans-serif;
}

/*# sourceMappingURL=style.css.map */
